 @charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 @font-face {
   font-family: "android";
   src: url("../fontes/idroid.otf");
   font-weight: normal;
 }

 :root{
   --cor0: #03045E;
   --cor1: #90E0EF;
   --cor2: #CAF0F8;
   --cor3: #0583F2;
   --cor4: #C492B1;

   --font-padrao: Arial, Helvetica, sans-serif;
   --font-destaque: "Bebas Neue", sans-serif;
   --font-android: "Android", cursive;
 }

  * {
   margin: 0px;
   padding: 0px;
  }

 body {
      font-family: var(--font-padrao);
      background-color: var(--cor0);
 }

 header {
   margin: auto;
   padding: 7px;
   background-image: linear-gradient(to bottom, var(--cor3), var(--cor0));
   font-family: var(--font-destaque);
   box-shadow: rgba(0, 0, 0, 0.267) 5px 5px 10px;
   min-height: 150px;
   text-align: center;
 }

 header > h1{
   color: white;
   font-family: var(--font-destaque);
   font-weight: normal;
   font-size: 3em;
   padding-top: 30px;
   padding-bottom: 10px;
   text-shadow: rgba(0, 0, 0, 0.37) 2px 2px 5px;
 }

 header > p {
   color: white;
   font-family: var(--font-destaque);
 }

 nav {
   background-color: var(--cor0);
   font-family: var(--font-destaque);
   box-shadow: rgba(0, 0, 0, 0.377) 0px 7px 7px;
   padding: 10px;
   text-align: center;
 }

 nav > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  transition-duration: 0.3s;
  font-size: 1.2em;
 }

 nav > a:hover {
  background-color: #1517be;
  border-radius: 3px;
 }

 main {
  min-width: 280px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 0px 10px;
 }

 main h1 {
   padding: 15px;
   font-family: var(--font-android);
   font-weight: normal;
   font-size: 2.2em;
   text-align: center;
   text-shadow: rgba(0, 0, 0, 0.432) 2px 2px 5px;
 }

 main h2 {
   padding: 15px;
   font-family: var(--font-android);
   font-weight: normal;
   font-size: 1.8em;
   text-align: center;
   text-shadow: rgba(0, 0, 0, 0.432) 2px 2px 5px;
 }

 main p {
   text-align: justify;
   margin: 15px 0px;
   text-indent: 25px;
   line-height: 2em;
 }

 .link {
  text-decoration: none;
  color: #0583F2;
 }

 .link:hover{
  text-decoration: underline;
 }

 main img {
  width: 100%;
 }

 main img#bugdroid {
  max-width: 400px;
  display: block;
  margin: auto;
 }

 div.video {
  background-color: var(--cor0);
  margin: 5px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 56.5%;
  position: relative;
 }

 div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
 }
  
 aside {
  background-color: var(--cor3);
  padding-left: 10px;
  border-radius: 10px;
 }

 aside h3 {
  color: white;
  background-color: #1517be;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
  text-indent: 10px;
 }

 aside > ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
 }

 aside abbr {
  text-decoration: none;
 }

 #androidh {
  text-decoration: none;
  color: white;
 }

 #androidh:hover {
  text-decoration: underline;
 }
 footer {
   padding-top: 30px;
   text-align: center;
   font-style: italic;
   color: var(--cor4);
 }
